<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ball1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,60}</string>
                <key>spriteSourceSize</key>
                <string>{62,60}</string>
                <key>textureRect</key>
                <string>{{1515,66},{62,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{1592,463},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1424,290},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,59}</string>
                <key>textureRect</key>
                <string>{{1592,399},{62,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1577,64},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1489,290},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1512,139},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1512,202},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1515,1},{63,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1555,268},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1575,202},{64,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ball2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1578,1},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ball2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,59}</string>
                <key>spriteSourceSize</key>
                <string>{63,59}</string>
                <key>textureRect</key>
                <string>{{1592,334},{63,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,123}</string>
                <key>spriteSourceSize</key>
                <string>{148,123}</string>
                <key>textureRect</key>
                <string>{{1133,147},{148,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,124}</string>
                <key>textureRect</key>
                <string>{{1263,1},{144,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,126}</string>
                <key>spriteSourceSize</key>
                <string>{141,126}</string>
                <key>textureRect</key>
                <string>{{1384,147},{141,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{136,124}</string>
                <key>textureRect</key>
                <string>{{1389,1},{136,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,123}</string>
                <key>spriteSourceSize</key>
                <string>{136,123}</string>
                <key>textureRect</key>
                <string>{{1467,355},{136,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,139}</string>
                <key>spriteSourceSize</key>
                <string>{107,139}</string>
                <key>textureRect</key>
                <string>{{1029,416},{107,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,147}</string>
                <key>spriteSourceSize</key>
                <string>{109,147}</string>
                <key>textureRect</key>
                <string>{{1170,412},{109,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,145}</string>
                <key>spriteSourceSize</key>
                <string>{113,145}</string>
                <key>textureRect</key>
                <string>{{1133,297},{113,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,146}</string>
                <key>spriteSourceSize</key>
                <string>{118,146}</string>
                <key>textureRect</key>
                <string>{{1319,406},{118,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cat2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,144}</string>
                <key>spriteSourceSize</key>
                <string>{128,144}</string>
                <key>textureRect</key>
                <string>{{1133,1},{128,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,145}</string>
                <key>spriteSourceSize</key>
                <string>{124,145}</string>
                <key>textureRect</key>
                <string>{{1258,147},{124,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cat2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,142}</string>
                <key>spriteSourceSize</key>
                <string>{110,142}</string>
                <key>textureRect</key>
                <string>{{1280,294},{110,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sysimg_haikei_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sysimg_haikei_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{413,102}</string>
                <key>spriteSourceSize</key>
                <string>{413,102}</string>
                <key>textureRect</key>
                <string>{{1029,1},{413,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1652,525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70f976b8cdc9187054d8b00137cac9da:77108ee1e2a81f12f8e00aece19fe545:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
